body {
    text-align: center;
    margin:auto;
}

p {
    text-align:center;
    margin:auto;
    display:inline-block;
}

navbar {
    display:inline;
}

#about {
    width:50%;
    text-align:center;
    margin:auto;
}

#finn-in-verona {
    height:300px;
    width:450px;
    display: block;
    margin:auto;
    padding-top:20px;
}