@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }
  
    50% {
      opacity: 0.5;
      transform: scale(1.05);
    }
  
    70% {
      opacity: 0.7;
      transform: scale(0.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.text-animate {
    opacity: 0;
    min-width: 10px;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
}

@for $i from 1 through 80 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}