.blog-preview {
    width: 25%;
    height: 30%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px lightgray;
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.blog-preview:visited {
    text-decoration: none !important;
    color: black;
}

.blog-preview-image {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0px 0px;
}